<tr>
  <th>配置参数</th>
  <td><input type="hidden" name="pcode" value="alipay" />
    <table class="dataform">
      <tr>
        <th width="110">公众账号ID(appid)</th>
        <td><input class="w300 txt" name="params[appid]" id="appid" type="text" value="<{$rs.params.appid}>" /></td>
      </tr>
      <tr>
        <th>商户号(mch_id)</th>
        <td><input class="w300 txt" name="params[mch_id]" id="mch_id" type="text" value="<{$rs.params.mch_id}>" /></td>
      </tr>
      <tr>
        <th>API秘钥(key)</th>
        <td><input class="w300 txt" name="params[key]" id="key" type="text" value="<{$rs.params.key}>" /></td>
      </tr>
    </table>
  </td>
</tr>